/*******************
 CSS Imports
 *******************/
@import "./footer.css";
@import "./header.css";
@import "./card.css";

/*******************
 CSS Browser Reset
 *******************/
*,
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  box-sizing: border-box;
}

/**********************
Core Styles
***********************/

.container {
  height: 2000px;
  display: grid;
  width: 100%;
  overflow: auto;
  grid-template-columns: 1fr; 
  grid-template-rows: 15vh 1fr 15vh;
  grid-template-areas: 
  "hd"
  "main"
  "ft";
}


.nav-items {
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  list-style: none;
}

.header-title {
  text-align: center;
}

.blog-area {
  margin-top: -40%;
  grid-area: main;
  grid-gap: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  text-align: center;
  margin-top: 20%;
}

.blog-title {
  text-align: center;
}

.blog-content {
  padding: 0 20px 0 20px;
  clear: both;
}

.card-content{
  display: flex;
  justify-content: center;
  align-items: center;
}


/***************
BREAKPOINTS
****************/

@media (min-width: 1024px) {
  .container {
    min-height: 2000px;
    grid-template-columns: 100px repeat(7,1fr);
    grid-template-rows: 100% 1fr;
    grid-template-areas:
    "hd hd main main main main main main"
    "ft ft ft ft ft ft ft ft"
  }

  .header {
    background-color: #1e90ff;
    color: #fff;
  }

  .nav-items {
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .nav-item {
    margin-top: 10px;
  }

  .blog-area {
    /* align-items: flex-start; */
    justify-content: space-evenly;
    /* height: 100vh; */
  }

  .card {
    width: 60%;
    text-align: center;
  }

  .footer {
    background-color: #1e90ff;
  }
  
}
